{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Preventivi list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Oggetto</th>
                <th>Descrizione</th>
                <th>Datainserimento</th>
                <th>Datalavorazione</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('preventivi_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.oggetto }}</td>
                <td>{{ entity.descrizione }}</td>
                <td>{% if entity.dataInserimento %}{{ entity.dataInserimento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dataLavorazione %}{{ entity.dataLavorazione|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('preventivi_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('preventivi_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('preventivi_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
